.cuadro4 {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #f37261, #1e1e1e , #842cf2);
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    border-radius: 20px;
    width: 300px;
    height: 280px;
    margin-top: -450px;
    margin-left: -150px;
}

.info {
    margin-left: -300px;
    font-size: 30px;
    font-family: serif;
}

.nombre {
    margin-left: -250px;
    font-size: 15px;
    font-family: serif;
    margin-top: 100px;
}

.telefono {
    margin-left: -200px;
    font-size: 15px;
    font-family: serif;
    margin-top: 200px;
}

.iv-compu {
    margin-left: -300px;
    font-size: 15px;
    font-family: serif;
    margin-top: 300px;
}

.instagram {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin-top: 450px;
    margin-left: -400px;
}

.usuario-ig {
    color: white;
    margin-left: -1px;
    font-size: 15px;
    font-family: serif;
    margin-top: 450px;
    padding: 15px;
}

.Facebook {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin-top: 600px;
    margin-left: -155px;
}

.face {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin-top: 600px;
    margin-left: 15px;
}

.git {
    border-radius: 5px;
    width: 45px;
    height: 45px;
    margin-top: 750px;
    margin-left: -95px;
}

.Git {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin-top: 750px;
    margin-left: 15px;
}

.tiktok {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin-top: 890px;
    margin-left: -95px;
}

.Tiktok {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin-top: 900px;
    margin-left: 15px;
}