.cuadro {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #f37261, #1e1e1e , #842cf2);
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen {
    border-radius: 20px;
    width: 300px;
    height: 280px;
    margin-top: -450px;
    margin-left: -30px;
}

.titulo {
    margin-left: -260px;
    font-size: 30px;
    font-family: serif;
}

.nombre {
    font-family: serif;
    margin-top: 130px;
    margin-left: -200px;
}

.facebook {
    margin-top: 300px;
    margin-left: -200px;
    margin-right: 35px;
}

.github {
    margin-top: 300px;
    margin-right: 35px;
    margin-left: 35px;
}

.figma {
    margin-top: 300px;
    margin-right: 35px;
}

.ig {
    margin-top: 300px;
}

.titulo2 {
    font-family: serif;
    color: white;
    font-size: 10px;
    margin-top: 500px;
    margin-left: -350px;
}

.titulo3 {
    font-family: serif;
    color: white;
    font-size: 10px;
    margin-top: 500px;
    margin-left: 45px;
}

.titulo4 {
    font-family: serif;
    color: white;
    font-size: 10px;
    margin-top: 500px;
    margin-left: 45px;
}